.footer{
    background-color: var(--color-black);

    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        padding: 24px 0;
    }

    .logo{
        color: var(--color-white);
    }

    hr{
        color: var(--color-white);
        width: 100%;
        opacity: 20%;
    }

    ul{
        display: flex;
        flex-direction: row;
        gap: 16px;

        padding: 0;
        margin: 0;
        list-style-type: none;


            

            

            a{
                display: flex;
                justify-content: center;
                align-items: center;

                width: 36px;
                height: 36px;


                background-color: rgba($color: #fff, $alpha: 0.1);

                border-radius: 100px;
                overflow: hidden;
            }

            .icon{
                fill: var(--color-white);

                width: 24px;
                height: 24px;
            }
        
    }

    p{
        color: var(--color-white);
    }
}