.hero {
    position: relative;

    .wrapper{
        padding: 195px 0px;
    }

    .hero_content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        max-width: 785px;

        h1{
            font-weight: 300;
        }

        span{
            font-weight: bold;
        }

        p{
            max-width: 540px;
            color: var(--color-white);
        }

        .button{
            margin-top: 30px;
        }
    }

    .hero_media{
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        z-index: -1;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}