/* ==========================================================================
   scrolly / component
   ========================================================================== */

.has-js {
    [data-scrolly='fromBottom'] {
        opacity: 0;
        transform: translateY(60px);
        transition: all 0.4s $ease-out-expo;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromLeft'] {
        opacity: 0;
        transform: translateX(-60px);
        transition: all 0.4s $ease-out-expo;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromTop'] {
        opacity: 0;
        transform: translateY(-60px);
        transition: all 0.4s $ease-out-expo;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromRight'] {
        opacity: 0;
        transform: translateX(60px);
        transition: all 0.4s $ease-out-expo;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromScale'] {
        opacity: 0;
        transform: translateY(60px) scale(0.95);
        transition: all 0.4s $ease-in-out-cubic;
        transform-origin: top left;

        &.is-active {
            opacity: 1;
            transform: translateY(0px) scale(1);
        }
    }

    [data-scrolly='fromRotate'] {
        opacity: 0;
        transform: rotate(0deg);
        transition: all 0.4s $ease-out-expo;

        &.is-active {
            opacity: 1;
            transform: rotate(360deg);
        }
    }
}
