/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'PT Sans', sans-serif;
    --font-a-header: 'Open Sans', sans-serif;

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 100px)};
    --font-size-h2: #{typo(28px, 50px)};
    --font-size-h3: #{typo(22px, 35px)};
    --font-size-a-header: #{typo(12px, 14px)};
    --font-size-button: #{typo(14px, 16px)};
}
